---
import NavButton from '../components/NavButton.astro';
---
<header class="flex justify-center py-1">
    <nav class="flex justify-between font-semibold">
        <NavButton href='/'>
            Home
        </NavButton>
        <NavButton href='/about'>
            Sobre mi
        </NavButton>
        <NavButton href='/project'>
            Proyectos
        </NavButton>
    </nav>
</header>